# Logistic Regression

In [2]:
# Call Libraries
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.cross_validation import train_test_split

In [5]:
# load and Explore Data
default = pd.read_csv('C:/Users/felix.schildorfer/OneDrive - Avanade/Education/ML/Statistical-Learning-in-Python/data/Default.csv')
default.head()

   default student      balance       income
0        0      No   729.526495  44361.62507
1        0     Yes   817.180407  12106.13470
2        0      No  1073.549164  31767.13895
3        0      No   529.250605  35704.49394
4        0      No   785.655883  38463.49588

In [6]:
default.describe()

            default       balance        income
count  10000.000000  10000.000000  10000.000000
mean       0.033300    835.374886  33516.981876
std        0.179428    483.714985  13336.639563
min        0.000000      0.000000    771.967729
25%        0.000000    481.731105  21340.462905
50%        0.000000    823.636973  34552.644800
75%        0.000000   1166.308387  43807.729275
max        1.000000   2654.322576  73554.233500

In [7]:
# Convert to numeric and split data
default.student = np.where(default.student == 'Yes', 1, 0)
X = default[['balance','student','income']]
y = default.default
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [8]:
# Convert them back into dataframes, for convenience
train = pd.DataFrame(data=X_train, columns=['balance','student','income'])
train['default'] = y_train
test = pd.DataFrame(data=X_test, columns=['balance','student','income'])
test['default'] = y_test

In [11]:
# Run a logistic Regression
balance = LogisticRegression()
balance.fit(train[['balance']], y_train)
B1 = balance.coef_[0][0]
B0 = balance.intercept_[0]
np.exp(B1)

1.0043072246086282

In [14]:
# Create predictions using the balance model on the test set
test['pred_class'] = balance.predict(test[['balance']])

In [16]:
# Compute the overall Accuracy
accuracy = sum(test.pred_class == test.default) / float(len(test.default))
accuracy

0.97599999999999998

In [17]:
# Specificity
test_nd = test[test.default == 0]
specificity = sum(test_nd.pred_class == test_nd.default) / float(len(test_nd.default))
specificity

0.99793743554486081

In [18]:
# Sensitivity
test_d = test[test.default == 1]
sensitivity = sum(test_d.pred_class == test_d.default) / float(len(test_d.default))
sensitivity

0.27472527472527475

In [19]:
# This raises the question, how does our overall 
# classification accuracy compare to the not-default rate?

null = 1 - sum(d.default) / float(len(d.default))
null

# This illustrates an important point, class imbalance can result in accuracy
# measures that are missleading. After all, if you would have just guessed not
# going to default, you would be correct 96.67 % of the time.

0.9667